page-notification {
    .commonBackground{
        background: url(../assets/imgs/listingBackground.jpg) no-repeat scroll left bottom/cover;
        display: block;
        background-repeat: repeat-y;
    }
}
