page-change-password {
  
  .flable{ margin-left:0px; color:#2c2c68; margin:10px 0 4px 0;}
  .list{
      .item{
        border: #ccc 1px solid !important;  margin-bottom: 10px;
      }
  }
   .commonBackground{
        background: url(../assets/imgs/listingBackground.jpg) no-repeat scroll left bottom/cover;
        display: block;
        background-repeat: repeat-y;
    }
}
